.dp-group {
    cursor: pointer;
    display: table;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
}

.dp-control, .dp-icon {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
}

.dp-icon {
    width: 50px;
    font-size: 30px;
    text-align: center;
}

.dp-control {

}

.dp-super {
    font-size: 12px;
}

.dp-main {
    font-size: 25px;
}

.dp-ampm {
    font-size: 75%;
    text-transform: lowercase;
}