<div [tabindex]="tabIndex" (blur)="onBlur()" (focus)="onFocus()">
    <div class="dp-group">
        <div (click)="togglePopup()" class="dp-icon">
            <fa-icon [icon]="iconCal"></fa-icon>
        </div>
        <div (click)="togglePopup()" class="dp-control" [ngSwitch]="temporal">
            <ng-container *ngSwitchCase="0">
                <div class="dp-super">{{value | date: 'EEEE, y'}}</div>
                <div class="dp-main">{{value | date: 'd MMM'}}</div>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="dp-super">Time</div>
                <div class="dp-main">{{value | date: 'h:mm'}} <span class="dp-ampm">{{value | date: 'a'}}</span></div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="dp-super">{{value | date: 'EEE d MMM, y'}}</div>
                <div class="dp-main">{{value | date: 'h:mm'}} <span class="dp-ampm">{{value | date: 'a'}}</span></div>
            </ng-container>
            <div *ngIf="!value" [innerText]="placeholder"></div>
        </div>
        <div *ngIf="dirty" (click)="clearDate()" class="dp-icon">
            <fa-icon [icon]="undoIcon"></fa-icon>
        </div>
    </div>

    <dp-popup *ngIf="popup" [temporal]="temporal" (onSelect)="onChange($event)">
    </dp-popup>
</div>