.y-list {
    overflow-x: hidden;
    height: 300px;
}

.m-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
}

.m-list li {
    display: flex;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.m-list li:hover {
    background-color: #efefef;
}

.today {
    background-color: #1867c0;
    color: #fff;
}

.y-row {
    display: table;
    border-bottom: 1px solid #f3f3f3;
}

.y-row .y-col {
    display: table-cell;
}

.y-row .y-label {
    width: 20%;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

.y-label:hover {
    color: #6d6d6d;
}

