<div class="y-list">
    <div *ngFor="let year of keys(years)" class="y-row">
        <div (click)="setYear(year)" class="y-col y-label">
            {{year}}
        </div>
        <div class="y-col">
            <ul class="m-list">
                <li *ngFor="let m of years[year]" (click)="pick(m)" [ngClass]="{'today': m.today}" class="m-item">
                    {{m.value | date: 'MMM'}}
                </li>
            </ul>
        </div>
    </div>
</div>