.c-weekdays, .c-weeks-wrapper, .c-days {
    list-style: none;
}

.c-week, .c-weekdays {
    margin-left: 10px;
    margin-right: 10px;
}

.c-weekdays {
    border-bottom: 1px solid #f1f1f1;
    padding: 0px;
    margin-bottom: 10px;
}

.c-month {
    padding-bottom: 10px;
    font-size: 18px;
}

.c-weekday {
    text-align: center;
    display: inline-block;
    line-height: 45px;
    width: 45px;
}

.c-weeks-wrapper {

}

.outbound {
    color: #c3c1c1 !important;
}

.c-days {

}

.weekend {
    background-color: #f9f9f9;
}

.c-day {
    display: inline-block;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
}

.c-day-sel {
    position: relative;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
}

.c-day-sel > span {
    color: #242424;
}

.c-day-sel:hover {
    background-color: #f5f5f5;
    border-radius: 50%;
}

.today, .selected {
    position: relative;
    border-radius: 50%;
    font-weight: bold;
}

.today {
    color: #1867c0;
}

.selected {
    display: block;
    background-color: #1867c0;
    color: #fff !important;
}

.today::before {
    content: '';
    position: absolute;
    left: 0%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px;
}
