<div class="c-month">
    <ul class="c-weekdays">
        <li *ngFor="let weekday of weekdayNames" class="c-weekday">{{weekday}}</li>
    </ul>
    <div class="c-weeks-wrapper">
        <div *ngFor="let week of calendar" class="c-week">
            <div class="c-days">
                <div *ngFor="let wrap of week" class="c-day" [ngClass]="{'weekend': wrap.weekend }">
                    <div (click)="pick(wrap)" class="c-day-sel" [ngClass]="{'today': wrap.today }">
                        <span [ngClass]="{ 'selected': wrap.selected, 'outbound': wrap.outbound }">{{wrap.value | date:
                            'd'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>