<div class="cal-container">
  <div class="cal-header">
    <div class="super-date">
      <div *ngIf="temporal != 0" (click)="viewMode='time'" class="cal-time" [ngClass]="{'active': viewMode == 'time'}">
        <fa-icon [icon]="clockIcon"></fa-icon> {{pickedDate | date: 'HH:mm'}}
      </div>
      <div (click)="viewMode='month'" class="cal-year" [ngClass]="{'active': viewMode == 'month'}">{{pickedDate | date: 'y'}}</div>
    </div>
    <div (click)="viewMode='day'" class="main-date" [ngClass]="{'active': viewMode == 'day'}">{{pickedDate | date: 'EEE, MMM d'}}</div>
  </div>

  <span [ngSwitch]="viewMode">
    <ng-container *ngSwitchCase="'month'">
      <dp-month (onSelect)="onPickMonth($event)"></dp-month>
    </ng-container>
    <ng-container *ngSwitchCase="'day'">
      <dp-day [temporal]="temporal" (onSelect)="onPickDay($event)"></dp-day>
    </ng-container>
    <ng-container *ngSwitchCase="'time'">
      <dp-time></dp-time>
    </ng-container>
  </span>
</div>