.t-list {
    padding: 20px;
}

.t-row {
    margin: 0 60px;
}

.t-col {
    width: 33.33%;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.t-btn {
    cursor: pointer;
    color: #1867c0;
    font-size: 50px;
    border: none;
    background-color: white;
    width: 100%;
} 

.t-btn:focus {
    outline: none;
}

.t-number {
    font-size: 60px;
}